---
import MobileTableOfContents from '@astrojs/starlight/components/MobileTableOfContents.astro';
import TableOfContents from '@astrojs/starlight/components/TableOfContents.astro';
import LanguageSelect from './LanguageSelect.astro';

const { toc } = Astro.locals.starlightRoute;
const { hideOverview } = Astro.locals.starlightRoute.entry.data;

if (toc && hideOverview) {
	const idx = toc.items.findIndex((item) => item.slug === '_top');
	if (idx !== -1) toc.items.splice(idx, 1);
}
---

{toc && (
	<>
		<div class="lg:sl-hidden">
			<MobileTableOfContents />
			<div class="mobile-lang">
				<LanguageSelect />
			</div>
		</div>
		<div class="sidebar-panel sl-hidden lg:sl-block">
			<div class="sl-container">
				<TableOfContents />
			</div>
		</div>
	</>
)}

<style>
	@layer starlight.core {
		.mobile-lang {
			position: fixed;
			z-index: calc(var(--sl-z-index-toc) + 1);
			top: calc(var(--sl-nav-height) - 1px);
			right: 1rem;
			height: var(--sl-mobile-toc-height);
			display: flex;
			align-items: center;
		}
		@media (min-width: 50rem) {
			.mobile-lang {
				display: none;
			}
		}
		.sidebar-panel {
			padding: 1rem var(--sl-sidebar-pad-x);
		}
		.sl-container {
			width: calc(var(--sl-sidebar-width) - 2 * var(--sl-sidebar-pad-x));
		}
		.sidebar-panel :global(h2) {
			color: var(--sl-color-white);
			font-size: var(--sl-text-h5);
			font-weight: 600;
			line-height: var(--sl-line-height-headings);
			margin-bottom: 0.5rem;
		}
		.sidebar-panel :global(:where(a)) {
			display: block;
			font-size: var(--sl-text-xs);
			text-decoration: none;
			color: var(--sl-color-gray-3);
			overflow-wrap: anywhere;
		}
		.sidebar-panel :global(:where(a):hover) {
			color: var(--sl-color-white);
		}
		@media (min-width: 72rem) {
			.sl-container {
				max-width: calc((100vw - var(--sl-sidebar-width) - 2 * var(--sl-content-pad-x) - 2 * var(--sl-sidebar-pad-x)) * 0.25);
			}
		}
	}
</style>
